$primary: #228d57;
$light: #f1f2f3;
$dark: #3e3e3c;
$danger: #cc4836;
$success: #85bb65;
$info: #e8e9c9;
$gray-200: #e9ecef;
$black: #000000;

$input-group-offset-xs: 25vw;

$font-family-sans-serif: "MainFont";
$paragraph-margin-bottom: 0;
$hr-margin-y: 0.5rem;

$input-border-color: $primary;
$input-focus-box-shadow: none;

$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$pagination-focus-box-shadow: none;
$form-select-focus-box-shadow: none;
$form-check-input-focus-box-shadow: none;
$table-border-color: $primary;
$pagination-active-color: $black;
$body-color: $dark;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px,
);

$theme-green: $primary;

$ng-select-height: 100%;
$ng-select-box-shadow: none;
$ng-select-border: $primary;
$ng-select-marked: $gray-200;
$ng-select-selected: $primary;
$ng-select-primary-text: $dark;
$ng-select-dropdown-option-text: $dark;

$tooltip-bg: $primary;
$tooltip-color: $black;
$tooltip-font-size: 0.75rem;
$tooltip-opacity: 1;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
