<div
    class="d-flex flex-lg-column align-items-center justify-content-evenly h-100">
    <button
        type="button"
        class="btn btn-outline-primary w-50 mx-4 my-3 my-lg-0 fw-bold"
        [class.active]="isSetting"
        (click)="onSetSetting()">
        Settings
    </button>
    <button
        type="button"
        class="btn btn-outline-primary w-50 mx-4 my-3 my-lg-0 fw-bold"
        [class.active]="isEnumeration"
        (click)="onSetEnumeration()">
        Enumerations
    </button>
</div>
